@font-face {
    font-family: 'Albertus';
    src: url('../Assets/albr55w.ttf') format('truetype');
}

@font-face {
    font-family: 'title';
    src: url('../Assets/bastss__.ttf') format('truetype');
}

:root {
    --backgroundColor: #222;
    --darkerBackground: #181818;
    --mainSecond: #aaa;
    --mainColor: #ddd;
    --secondColor: #d33;
    --navHeight: 80px;
    --dark: #090909;
    --title: 8rem;
    --h-one: 5rem;
    --h-two: 3rem;
    --h-three: 1.6rem;
    --h-four: 1.4rem;
    --media-h-one: 4rem;
    --media-h-two: 2.2rem;
    --media-h-three: 1.6rem;
    --media-h-four: 1rem;
    --plane-text-size: 1.5rem;
    --small-text-size: 1.2rem;
    --footer-h-five: 1.1rem;
    --footer-p: .7rem;
    --max-width: 2000px;
    --margin: 50px 0px 50px 0px;
    --box-height: 400px;
    --media-box-height: 300px;
    --box-width: 540px;
    --flex-height: 300px;
    --flex-width: 400px;
    --radius: 40px;
}

::selection {
    color: var(--secondColor);
    background-color: var(--dark);
}

body {
    overflow-x: hidden;
}

* {
    font-family: 'Albertus', sans-serif;
}

@keyframes start {
    0% {
        transform: translateX(0);
        display: block;
    }

    20% {
        transform: translateX(0);
        display: block;
    }

    100% {
        transform: translateX(-100%);
        display: none;
    }
}

@keyframes start-main {
    0% {
        transform: translateX(100%);
    }

    20% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.whole-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: var(--darkerBackground);
    animation: start 1s;
    overflow: hidden;
}

.google-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anim-title {
    font-family: 'title', sans-serif;
    font-size: var(--h-one);
    color: var(--secondColor);
}

.com {
    font-size: var(--plane-text-size);
    display: flex;
    justify-content: center;
    align-items: center;
}

.maincontent {
    width: 100%;
    min-height: calc(100vh - 400px);
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--darkerBackground);
    overflow-x: hidden;
    animation: start-main 1s;
}

.petosch-content {
    min-height: calc(100vh - 300px);
    margin-top: 80px;
    z-index: 2;
    background-color: var(--darkerBackground);
    color: var(--mainColor);
    position: relative;
    padding-top: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.petosch-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--secondColor);
    z-index: 1;
}

.lines {
    margin: var(--margin);
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.lines h2 {
    margin: 0;
    font-size: var(--h-one);
}

.lines-container {
    margin: var(--margin);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.line-flex {
    width: 90%;
    background-color: var(--backgroundColor);
    border-radius: var(--radius);
    font-size: var(--plane-text-size);
    color: var(--mainColor);
    cursor: pointer;
    transition: color .5s ease, background-color .5s ease;
    -webkit-box-shadow: rgba(0, 0, 0, 0.27) 10px 20px 19px;
    box-shadow: rgba(0, 0, 0, 0.27) 10px 20px 19px;
}

.line-line {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.line-line p {
    margin: 10px;
    width: 100%;
    text-align: center;
    padding: 0px 36px 0px 36px;
}

.line-dropdown {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: var(--plane-text-size);
}

.line-dropdown p {
    margin: 10px;
    width: 100%;
    text-align: center;
}

@keyframes arrowspin {
    0% {
        rotate: 180deg;
    }

    100% {
        rotate: 0deg;
    }
}

.dropdown-arrow {
    margin: 20px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid var(--mainColor);
    rotate: 180deg;
    position: absolute;
    right: 0;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1200px) {

    .whole-screen {
        z-index: 10;
    }

    .lines h2 {
        font-size: var(--media-h-two);
        width: 90%;
    }

    .line-flex {
        font-size: var(--small-text-size);
    }

    .line-dropdown {
        font-size: var(--small-text-size);
    }
}