@font-face {
    font-family: 'Albertus';
    src: url('../Assets/albr55w.ttf') format('truetype');
}

@font-face {
    font-family: 'title';
    src: url('../Assets/bastss__.ttf') format('truetype');
}

:root {
    --backgroundColor: #222;
    --darkerBackground: #181818;
    --mainSecond: #aaa;
    --mainColor: #ddd;
    --secondColor: #d33;
    --navHeight: 80px;
    --dark: #090909;
    --marginWeDo: 30px;
    --title-size: 6rem;
    --second-title: 1.6rem;
    --plane-text-size: 1.8rem;
    --small-text-size: 1.4rem;
}

::selection {
    color: var(--secondColor);
    background-color: var(--dark);
}

body {
    overflow-x: hidden;
}

* {
    font-family: 'Albertus', sans-serif;
}

@keyframes start {
    0% {
        transform: translateX(0);
        display: block;
    }

    20% {
        transform: translateX(0);
        display: block;
    }

    100% {
        transform: translateX(-100%);
        display: none;
    }
}

@keyframes start-main {
    0% {
        transform: translateX(100%);
    }

    20% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.whole-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: var(--backgroundColor);
    animation: start 1s;
    overflow: hidden;
}

.animation {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anim-title {
    font-family: 'title', sans-serif;
    font-size: var(--title-size);
    color: var(--secondColor);
}

.com {
    font-size: var(--plane-text-size);
    display: flex;
    justify-content: center;
    align-items: center;
}

.maincontent {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--darkerBackground);
    overflow: auto;
    animation: start-main 1s;
}

.petosch-wel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--darkerBackground);
    z-index: -1;
}

.petosch-wel h1 {
    font-size: 8rem;
    font-family: 'Albertus', sans-serif;
    color: var(--secondColor);
    margin: 0;
}

.petosch-wel p {
    font-size: var(--plane-text-size);
    color: var(--mainSecond);
}

.petosch-content {
    z-index: 2;
    background-color: var(--darkerBackground);
    color: var(--mainColor);
    position: relative;
    padding-top: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.petosch-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--secondColor);
    z-index: 1;
}

.petosch-content h2 {
    margin: 50px;
    font-size: var(--title-size);
}

.mitarbeiter {
    max-width: 2000px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.mit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.mit-img {
    height: 300px;
    width: 500px;
    background-color: var(--backgroundColor);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mainSecond);
}

.mit-des {
    height: 160px;
    width: 400px;
    transform: translateY(-60px);
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
}

.mit-des h4 {
    font-size: var(--plane-text-size);
    margin: 0;
    color: var(--secondColor);
}

.mit-des p {
    font-size: var(--small-text-size);
    text-align: center;
}

.mit-des p a {
    color: var(--mainSecond);
    text-decoration: none;
}

footer {
    z-index: 5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    background-color: var(--backgroundColor);
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;
    color: var(--mainSecond);
}

.footer-des h5 {
    font-size: var(--plane-text-size);
    margin-bottom: 16px;
}

.footer-line {
    width: 100%;
    height: 5px;
    background-color: var(--secondColor);
}

.footer-des p {
    font-size: var(--small-text-size);
    color: var(--mainSecond);
    text-decoration: none;
}

@media screen and (max-width: 1200px) {

    .petosch-wel h1 {
        font-size: 5rem;
        width: 90%;
        text-align: center;
    }

    .petosch-content h2 {
        font-size: 4rem;
    }

    .mit-container {
        width: 90%;
    }

    .mit-img {
        height: 200px;
        width: 90%;
    }

    .mit-des {
        height: 140px;
        width: 80%;
        transform: translateY(-60px);
        background-color: var(--dark);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 40px;
    }

    .footer-des h5 {
        font-size: 1.1rem;
    }

    .footer-des p {
        font-size: .7rem;
    }

    footer {
        height: 200px;
    }
}