@font-face {
    font-family: 'Albertus';
    src: url('./Assets/albr55w.ttf') format('truetype');
}

:root {
    --backgroundColor: #222;
    --darkerBackground: #181818;
    --mainSecond: #aaa;
    --mainColor: #ddd;
    --secondColor: #d33;
    --navHeight: 80px;
    --dark: #090909;
    --marginWeDo: 30px;
    --title-size: 6rem;
    --second-title: 3rem;
    --plane-text-size: 1.8rem;
    --small-text-size: 1.4rem;
}

::selection {
    color: var(--secondColor);
    background-color: var(--dark);
}

body {
    overflow-x: hidden;
}

* {
    font-family: 'Albertus', sans-serif;
}

.maincontent {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--darkerBackground);
    overflow: auto;
}

.petosch-wel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--darkerBackground);
    z-index: -1;
}

.petosch-wel img {
    height: 40%;
}

.des {
    color: var(--mainSecond);
    font-size: 2rem;
}

.petosch-products {
    z-index: 2;
    background-color: var(--darkerBackground);
    color: var(--mainColor);
    position: relative;
    padding-top: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /*background: linear-gradient(black, #f00);*/
}

.petosch-products::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--secondColor);
    z-index: 1;
}

.short-des {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--mainSecond);
}

.title {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--title-size);
}

.vertical {
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
}

.vertical-line {
    width: 4px;
    height: 80px;
    border-radius: 40px;
    background-color: var(--mainColor);
}

.we-do {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 2000px;
}

.thats-img {
    width: 600px;
    height: 400px;
    background-color: var(--mainSecond);
    border-radius: 40px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.27) 10px 20px 19px;
    box-shadow: #000 10px 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--darkerBackground);
}

#textil-img {
    background-image: url('./images/textil.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#folien-img {
    background-image: url('./images/folien.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#werbung-img {
    background-image: url('./images/werb.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#about-img {
    background-image: url('./images/about.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.description {
    width: 600px;
}

.description h4 {
    color: var(--secondColor);
    letter-spacing: 6px;
    font-size: var(--second-title);
    margin: var(--marginWeDo);
    padding: 0;
}

.description h2 {
    margin: var(--marginWeDo);
    padding: 0;
    font-size: var(--second-title);
}

.description p {
    font-size: 1.8rem;
    margin: var(--marginWeDo);
    padding: 0;
}

.description button {
    height: 60px;
    width: 260px;
    font-size: 1.6rem;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: #000 10px 20px 50px;
    padding: 0;
    margin: var(--marginWeDo);
    color: var(--mainColor);
    z-index: 1;
    background: var(--secondColor);
    position: relative;
    font-weight: bold;
    -webkit-box-shadow: rgba(0, 0, 0, 0.27) 10px 20px 19px;
    overflow: hidden;
    transition: all 250ms;
}

.description button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #ddd;
    z-index: -1;
    transition: all 250ms
}

.description button:hover {
    color: var(--darkerBackground);
    width: 60%;
}

.description button:hover::before {
    width: 100%;
}

.placeholder {
    height: 200px;
}

footer {
    z-index: 5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    background-color: var(--backgroundColor);
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;
    color: var(--mainSecond);
}

.footer-des h5 {
    font-size: var(--plane-text-size);
    margin-bottom: 16px;
}

.footer-line {
    width: 100%;
    height: 5px;
    background-color: var(--secondColor);
}

.footer-des p {
    font-size: var(--small-text-size);
}


@media screen and (max-width: 1200px) {
    .petosch-wel img {
        width: 90%;
        height: auto;
    }

    .des {
        color: var(--mainSecond);
        width: 90%;
        text-align: center;
    }

    .short-des {
        display: none;
    }

    .title {
        font-size: var(--second-title);
        width: 90%;
    }

    .we-do {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 90%;
    }

    .description button {
        width: 100%;
        margin: 30px 0 30px 0;
    }

    .description button:hover {
        width: 100%;
    }

    .thats-img {
        width: 90%;
    }

    .description {
        width: 90%;
    }

    .we-do {
        gap: 100px;
    }

    .description p {
        margin: 30px 0 30px 0;
        font-size: 1.4rem;
    }

    .description h2 {
        margin: 30px 0 30px 0;
    }

    .description h4 {
        margin: 30px 0 30px 0;
        font-size: 1.2rem;
    }

    .we-do .description {
        order: 1;
    }

    .we-do .thats-img {
        order: 2;
    }

    .footer-des h5 {
        font-size: 1.1rem;
    }

    .footer-des p {
        font-size: .7rem;
    }

    footer {
        height: 300px;
    }
}