@font-face {
    font-family: 'Albertus';
    src: url('./Assets/albr55w.ttf') format('truetype');
}

@font-face {
    font-family: 'title';
    src: url('./Assets/bastss__.ttf') format('truetype');
}

:root {
    --backgroundColor: #222;
    --darkerBackground: #181818;
    --mainSecond: #aaa;
    --mainColor: #ddd;
    --secondColor: #d33;
    --navHeight: 80px;
    --dark: #090909;
    --title: 8rem;
    --h-one: 6rem;
    --h-two: 4rem;
    --h-three: 2rem;
    --h-four: 1.6rem;
    --media-h-one: 5rem;
    --media-h-two: 3rem;
    --media-h-three: 2rem;
    --media-h-four: 1.2rem;
    --plane-text-size: 1.8rem;
    --small-text-size: 1.4rem;
    --footer-h-five: 1.1rem;
    --footer-p: .7rem;
    --max-width: 2000px;
    --margin: 50px 0px 50px 0px;
    --box-height: 400px;
    --box-width: 600px;
    --media-box-height: 300px;
    --flex-height: 300px;
    --flex-width: 500px;
    --radius: 40px;
}

::selection {
    color: var(--secondColor);
    background-color: var(--dark);
}

body {
    overflow-x: hidden;
}

* {
    font-family: 'Albertus', sans-serif;
}

@keyframes start {
    0% {
        transform: translateX(0);
        display: block;
    }

    20% {
        transform: translateX(0);
        display: block;
    }

    100% {
        transform: translateX(-100%);
        display: none;
    }
}

@keyframes start-main {
    0% {
        transform: translateX(100%);
    }

    20% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.whole-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: var(--darkerBackground);
    animation: start 1s;
    overflow: hidden;
}

.google-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anim-title {
    font-family: 'title', sans-serif;
    font-size: var(--h-one);
    color: var(--secondColor);
}

.com {
    font-size: var(--plane-text-size);
    display: flex;
    justify-content: center;
    align-items: center;
}

.maincontent {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--darkerBackground);
    overflow-x: hidden;
    animation: start-main 1s;
}

.petosch-wel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 74vh;
    min-height: 400px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--darkerBackground);
    z-index: -1;
}

.petosch-wel img {
    height: 40%;
}

.des {
    color: var(--mainSecond);
    font-size: var(--h-three);
}

.petosch-products {
    height: min-content;
    z-index: 2;
    background-color: var(--darkerBackground);
    color: var(--mainColor);
    position: relative;
    padding-top: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.petosch-products::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--secondColor);
    z-index: 1;
}

.short-des {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--mainSecond);
}

.title {
    margin: var(--margin);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--h-one);
}

.vertical {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-line {
    width: 4px;
    height: 80px;
    border-radius: var(--radius);
    background-color: var(--mainColor);
}

.we-do {
    margin: var(--margin);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: var(--max-width);
    gap: 20px;
}

.thats-img {
    width: var(--box-width);
    height: var(--box-height);
    background-color: var(--mainSecond);
    border-radius: var(--radius);
    -webkit-box-shadow: rgba(0, 0, 0, 0.27) 10px 20px 19px;
    box-shadow: #000 10px 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--darkerBackground);
    transition: scale .2s ease-in-out;
    object-fit: cover;
}

.thats-img:hover {
    scale: 1.2;
}

.description {
    height: var(--box-height);
    width: var(--box-width);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.description h2 {
    margin: 0;
    font-size: var(--h-two);
}

.description p {
    font-size: var(--plane-text-size);
    margin: 0;
    color: var(--mainSecond);
}

.description button {
    cursor: pointer;
    height: 60px;
    width: 260px;
    font-size: var(--h-four);
    border: none;
    outline: none;
    border-radius: var(--radius);
    box-shadow: #000 10px 20px 50px;
    padding: 0;
    margin: var(--marginWeDo);
    color: var(--mainColor);
    z-index: 1;
    background: var(--secondColor);
    position: relative;
    font-weight: bold;
    -webkit-box-shadow: rgba(0, 0, 0, 0.27) 10px 20px 19px;
    overflow: hidden;
    transition: all 250ms;
}

.description button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #ddd;
    z-index: -1;
    transition: all 250ms
}

.description button:hover {
    color: var(--darkerBackground);
    width: 60%;
}

.description button:hover::before {
    width: 100%;
}

.placeholder {
    height: 200px;
}

#last-we-do {
    margin-bottom: -140px;
}


@media screen and (max-width: 1200px) {
    .whole-screen {
        z-index: 10;
    }

    .petosch-wel img {
        height: 30%;
    }

    .des {
        color: var(--mainSecond);
        width: 90%;
        text-align: center;
    }

    .short-des {
        display: none;
    }

    .title {
        font-size: var(--media-h-two);
        width: 90%;
    }

    .we-do {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 90%;
    }

    .description button {
        width: 100%;
        margin: 0;
    }

    .description button:hover {
        width: 100%;
    }

    .thats-img {
        width: 90%;
        height: 20%;
    }

    .thats-img:hover {
        scale: none;
    }

    .description {
        width: 90%;
    }

    .we-do {
        gap: 30px;
    }

    .description p {
        margin: 0;
        font-size: var(--small-text-size);
    }

    .description h2 {
        margin: 0;
        font-size: var(--media-h-three);
    }

    .description button {
        margin: 0;
        font-size: var(--media-h-four);
        height: 50px;
    }

    .we-do .description {
        order: 1;
    }

    .we-do .thats-img {
        order: 2;
    }

    .vertical-line {
        height: 40px;
    }
}