@font-face {
    font-family: 'Albertus';
    src: url('../Assets/albr55w.ttf') format('truetype');
}

@font-face {
    font-family: 'title';
    src: url('../Assets/bastss__.ttf') format('truetype');
}

:root {
    --backgroundColor: #222;
    --darkerBackground: #181818;
    --mainSecond: #aaa;
    --mainColor: #ddd;
    --secondColor: #d33;
    --navHeight: 80px;
    --dark: #090909;
    --title: 8rem;
    --h-one: 6rem;
    --h-two: 4rem;
    --h-three: 2rem;
    --h-four: 1.6rem;
    --media-h-one: 5rem;
    --media-h-two: 3rem;
    --media-h-three: 2rem;
    --media-h-four: 1.2rem;
    --plane-text-size: 1.8rem;
    --small-text-size: 1.4rem;
    --footer-h-five: 1.1rem;
    --footer-p: .7rem;
    --max-width: 2000px;
    --margin: 50px 0px 50px 0px;
    --box-height: 400px;
    --media-box-height: 300px;
    --box-width: 600px;
    --flex-height: 300px;
    --flex-width: 500px;
    --radius: 40px;
}

::selection {
    color: var(--secondColor);
    background-color: var(--dark);
}

body {
    overflow-x: hidden;
}

* {
    font-family: 'Albertus', sans-serif;
}

@keyframes start {
    0% {
        transform: translateX(0);
        display: block;
    }

    20% {
        transform: translateX(0);
        display: block;
    }

    100% {
        transform: translateX(-100%);
        display: none;
    }
}

@keyframes start-main {
    0% {
        transform: translateX(100%);
    }

    20% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.whole-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: var(--darkerBackground);
    animation: start 1s;
    overflow: hidden;
}

.google-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anim-title {
    font-family: 'title', sans-serif;
    font-size: var(--h-one);
    color: var(--secondColor);
}

.com {
    font-size: var(--plane-text-size);
    display: flex;
    justify-content: center;
    align-items: center;
}

.maincontent {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--darkerBackground);
    overflow-x: hidden;
    animation: start-main 1s;
}

.petosch-content {
    min-height: calc(100vh - 300px);
    margin-top: 80px;
    z-index: 2;
    background-color: var(--darkerBackground);
    color: var(--mainColor);
    position: relative;
    padding-top: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.petosch-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--secondColor);
    z-index: 1;
}

.petosch-content h2 {
    margin: var(--margin);
    font-size: var(--h-one);
}

.folien-products {
    max-width: var(--max-width);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: var(--margin);
}

.folien-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.folien-img {
    height: var(--flex-height);
    width: var(--flex-width);
    background-color: var(--backgroundColor);
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mainSecond);
    transition: scale .2s ease-in-out;
    object-fit: cover;
}

.folien-img:hover {
    scale: 1.2;
}

.folien-des {
    height: var(--flex-height);
    width: calc(var(--flex-width)/5*4);
    transform: translateY(-60px);
    background-color: var(--dark);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: var(--radius);
    padding: 20px;
}

.folien-des h4 {
    font-size: var(--plane-text-size);
    margin: 0;
    color: var(--secondColor);
}

.folien-des p {
    font-size: var(--small-text-size);
    text-align: center;
    margin: 0;
}

.folien-des button {
    cursor: pointer;
    ;
    height: 60px;
    width: 260px;
    font-size: var(--h-four);
    border: none;
    outline: none;
    border-radius: var(--radius);
    box-shadow: #000 10px 20px 50px;
    padding: 0;
    color: var(--mainColor);
    z-index: 1;
    background: var(--secondColor);
    position: relative;
    font-weight: bold;
    -webkit-box-shadow: rgba(0, 0, 0, 0.27) 10px 20px 19px;
    overflow: hidden;
    transition: all 250ms;
}

.folien-des button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #ddd;
    z-index: -1;
    transition: all 250ms
}

.folien-des button:hover::before {
    width: 100%;
}

.folien-des button:hover {
    color: var(--darkerBackground);
    width: 90%;
}

@media screen and (max-width: 1200px) {

    .whole-screen {
        z-index: 10;
    }

    .petosch-wel h1 {
        font-size: var(--media-h-one);
        width: 90%;
        text-align: center;
        word-wrap: break-word;
    }

    .petosch-content h2 {
        padding: 20px;
        font-size: var(--media-h-two);
        margin: var(--margin);
    }

    .folien-products {
        margin: 0;
    }

    .folien-container {
        width: 100%;
    }

    .folien-img {
        height: 20%;
        width: 90%;
    }

    .folien-img:hover {
        scale: none;
    }

    .folien-des {
        height: var(--media-box-height);
        width: 80%;
    }

    .folien-des button {
        width: 100%;
    }

    .folien-des button:hover {
        width: 100%;
    }

    .folien-des button {
        font-size: var(--media-h-four);
        height: 50px;
    }
}