@font-face {
    font-family: 'Albertus';
    src: url('../Assets/albr55w.ttf') format('truetype');
}

@font-face {
    font-family: 'title';
    src: url('../Assets/bastss__.ttf') format('truetype');
}

:root {
    --backgroundColor: #222;
    --darkerBackground: #181818;
    --mainSecond: #aaa;
    --mainColor: #ddd;
    --secondColor: #d33;
    --navHeight: 80px;
    --dark: #090909;
    --title: 8rem;
    --h-one: 5rem;
    --h-two: 3rem;
    --h-three: 1.6rem;
    --h-four: 1.4rem;
    --media-h-one: 4rem;
    --media-h-two: 2.2rem;
    --media-h-three: 1.6rem;
    --media-h-four: 1rem;
    --plane-text-size: 1.5rem;
    --small-text-size: 1.2rem;
    --footer-h-five: 1.1rem;
    --footer-p: .7rem;
    --max-width: 2000px;
    --margin: 50px 0px 50px 0px;
    --box-height: 400px;
    --media-box-height: 300px;
    --box-width: 600px;
    --flex-height: 300px;
    --flex-width: 500px;
    --radius: 40px;
}

::selection {
    color: var(--secondColor);
    background-color: var(--dark);
}

body {
    overflow-x: hidden;
}

* {
    font-family: 'Albertus', sans-serif;
}

@keyframes start {
    0% {
        transform: translateX(0);
        display: block;
    }

    20% {
        transform: translateX(0);
        display: block;
    }

    100% {
        transform: translateX(-100%);
        display: none;
    }
}

@keyframes start-main {
    0% {
        transform: translateX(100%);
    }

    20% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.whole-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    z-index: 10;
    background-color: var(--darkerBackground);
    animation: start 1s;
    overflow: hidden;
}

.google-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anim-title {
    font-family: 'title', sans-serif;
    font-size: var(--h-one);
    color: var(--secondColor);
}

.com {
    font-size: var(--plane-text-size);
    display: flex;
    justify-content: center;
    align-items: center;
}

.maincontent {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--darkerBackground);
    overflow-x: hidden;
    animation: start-main 1s;
}

.petosch-content {
    min-height: calc(100vh - 300px);
    margin-top: 80px;
    z-index: 2;
    background-color: var(--darkerBackground);
    color: var(--mainColor);
    position: relative;
    padding-top: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.petosch-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--secondColor);
    z-index: 1;
}

.name-petosch {
    height: min-content;
    margin: var(--margin);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--h-two);
}

.name-petosch div span {
    color: var(--secondColor);
    margin-left: 20px;
    font-family: 'title', sans-serif;
}

.name-petosch div:nth-child(3) {
    margin-left: 20px;
}

.name-petosch div:nth-child(4) span:nth-child(2) {
    margin-left: 0;
}

.mit-title,
.kontaktdaten h2 {
    font-size: var(--h-one);
    color: var(--mainColor);
}

.mitarbeiter {
    max-width: var(--max-width);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.mit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mit-img {
    height: var(--flex-height);
    width: var(--flex-width);
    background-color: var(--backgroundColor);
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mainSecond);
    object-fit: cover;
    transition: scale .2s ease-in-out;
    -webkit-box-shadow: rgba(0, 0, 0, 0.27) 10px 20px 19px;
    box-shadow: rgba(0, 0, 0, 0.27) 10px 20px 19px;
}

.mit-img:hover {
    scale: 1.2;
}


.mit-des {
    height: var(--flex-height);
    width: calc(var(--flex-width)/5*4);
    transform: translateY(-60px);
    background-color: var(--dark);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: var(--radius);
    -webkit-box-shadow: rgba(0, 0, 0, 0.27) 10px 20px 19px;
    box-shadow: rgba(0, 0, 0, 0.27) 10px 20px 19px;
}

.mit-des button,
#first-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 60px;
    width: 300px;
    font-size: var(--h-four);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: #000 10px 20px 50px;
    padding: 0;
    color: var(--mainColor);
    z-index: 1;
    background: var(--secondColor);
    position: relative;
    font-weight: bold;
    -webkit-box-shadow: rgba(0, 0, 0, 0.27) 10px 20px 19px;
    overflow: hidden;
    transition: all 250ms;
}

.mit-des button::before,
#first-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #ddd;
    z-index: -1;
    transition: all 250ms
}

.mit-des button:hover {
    color: var(--darkerBackground);
    width: 80%;
}

#first-button:hover {
    color: var(--darkerBackground);
    width: 60%;
}

#check-one,
#check-two {
    display: none;
}

#first-button:hover #petosch-phone,
#second-button:hover #thomas-phone,
#third-button:hover #thomas-mail,
#fourth-button:hover #petra-phone,
#fift-button:hover #petra-mail,
#sixt-button:hover #sandro-mail,
#seven-button:hover #check-one,
#eight-button:hover #check-two {
    --lord-icon-primary: #000;
}

.mit-des button:hover::before,
#first-button:hover::before {
    width: 100%;
}

.mit-des h4 {
    font-size: var(--plane-text-size);
    margin: 0;
    color: var(--secondColor);
}

.mit-des p {
    font-size: var(--small-text-size);
    color: var(--mainSecond);
    text-align: center;
    margin: 0;
}

.arrow-triangle {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid var(--mainColor);
    margin-left: -10px;
}

iframe {
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
}

.kontaktdaten {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--darkerBackground);
    padding: var(--margin);
}

.kontakt-container {
    max-width: var(--max-width);
    margin: var(--margin);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.kontakt-image {
    height: var(--box-height);
    width: var(--box-width);
    background-color: var(--backgroundColor);
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mainSecond);
    transition: scale .2s ease-in-out;
    -webkit-box-shadow: rgba(0, 0, 0, 0.27) 10px 20px 19px;
    box-shadow: rgba(0, 0, 0, 0.27) 10px 20px 19px;
}

.kontakt-image:hover {
    scale: 1.2;
}

.kontakt-des {
    height: var(--box-height);
    width: var(--box-width);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.kontakt-des h4 {
    margin: 0;
    padding: 0;
    font-size: var(--h-two);
    color: var(--secondColor);
    word-break: break-all;
}

.kontakt-des p {
    font-size: var(--plane-text-size);
    margin: 0;
    padding: 0;
    color: var(--mainSecond);
}

.kontakt-des button {
    cursor: pointer;
    height: 60px;
    width: 300px;
    font-size: var(--h-four);
    border: none;
    outline: none;
    border-radius: var(--radius);
    box-shadow: #000 10px 20px 50px;
    padding: 0;
    margin: var(--marginWeDo);
    color: var(--mainColor);
    z-index: 1;
    background: var(--secondColor);
    position: relative;
    font-weight: bold;
    -webkit-box-shadow: rgba(0, 0, 0, 0.27) 10px 20px 19px;
    overflow: hidden;
    transition: all 250ms;
    display: grid;
    place-items: center;
}

.kontakt-des button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #ddd;
    z-index: -1;
    transition: all 250ms
}

.kontakt-des button:hover {
    color: var(--darkerBackground);
    width: 60%;
}

.kontakt-des button:hover::before {
    width: 100%;
}

.vertical {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-line {
    width: 4px;
    height: 80px;
    border-radius: var(--radius);
    background-color: var(--mainColor);
}

@media screen and (max-width: 1200px) {

    .whole-screen {
        z-index: 10;
    }

    .petosch-wel h1 {
        font-size: var(--media-h-one);
        width: 90%;
        text-align: center;
    }

    .mit-title,
    .kontaktdaten h2 {
        font-size: var(--media-h-two);
        margin: 0;
        width: 90%;
        text-align: center;
    }

    .mitarbeiter {
        margin: 0;
    }

    .mit-container {
        width: 100%;
    }

    .mit-img {
        width: 90%;
        height: 20%;
    }

    .mit-des button,
    #first-button {
        width: 90%;
        height: 50px;
        font-size: var(--media-h-four);
    }

    .mit-des button:hover {
        width: 90%;
    }

    .mit-img:hover {
        scale: none;
    }

    .kontakt-image:hover {
        scale: none;
    }

    .mit-title {
        margin: var(--margin);
        font-size: var(--media-h-two);
        width: 90%;
    }

    .kontakt-container .kontakt-des {
        order: 1;
    }

    .kontakt-container .kontakt-image {
        order: 2;
    }

    .kontakt-container {
        height: min-content;
    }

    .mit-des {
        width: 80%;
        height: calc(var(--flex-height)/3*2);
        border-radius: var(--radius);
        transform: translateY(-20px);
    }

    .name-petosch {
        width: 90%;
        font-size: var(--media-h-two);
        flex-direction: column;
    }

    .kontakt-container {
        width: 90%;
        height: min-content;
        gap: 30px;
    }

    .kontakt-image {
        height: 300px;
        width: 100%;
    }

    .kontakt-des {
        width: 90%;
        height: var(--media-box-height);
    }

    .kontakt-des button,
    #first-button {
        cursor: pointer;
        width: 100%;
        margin: 0;
        height: 50px;
    }

    .placeholder {
        display: none;
    }

    .kontakt-des button:hover,
    #first-button:hover {
        width: 100%;
    }

    .kontakt-des h4 {
        font-size: var(--media-h-three);
    }

    .kontakt-des p {
        font-size: var(--small-text-size);
    }
}